.container{
    background:rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 800px;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}

.container h1{
    color: #fff;
    text-align: center
}

.card-grid{
    width: 100%;
    margin-top: -4%;
    display: grid;
    grid-column-gap: 1.5rem;
    padding: 12rem;
    text-align:center;
    justify-content: center;
}

@media(min-width: 75rem){
    .card-grid{
        grid-template-columns: repeat(6, 1fr);
    }
}

@media(max-width: 700px){
    .card-grid{
        grid-template-columns: repeat(3, 2fr);
    }
}

.card{
    position: relative;
    font-style: none;
}

.card::before{
    content: '';
    display: block;
    padding-bottom: 150%;
}

.card-background{
    background-size: cover;
    background-position: center;
    border-radius: 0.9375rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: filter .2s linear, transform 200ms linear;
}

.card:hover .card-background{
    transform: scale(1.25) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card-background{
    filter: brightness(1) saturate(0) contrast(1) blur(1.25rem);
}

.card-content{
    padding: 14.375rem 1.25rem;
    position: relative;
    top: 0;
}

.card-category{
    color: rgba(255, 255, 255, .5);
    font-size: .9rem;
    text-transform: uppercase;
}

.card-heading{
    font-style: none;
    color: rgba(255, 255, 255, .9);
    font-size: 1.9rem;
    text-shadow: 0.125rem 0.125rem 1.25rem rgba(0, 0, 0, 0.767);
}

p{
    margin-top: -1.875rem;
}